/* ../sessions/new.html.erb*/
.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .login-form {
    max-width: 400px;
    padding: 40px;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .login-form h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .login-form .field {
    margin-bottom: 20px;
  }
  
  .login-form .field label {
    display: block;
    color: #666;
    font-size: 14px;
  }

  .login-form .field input {
    height: 20px;
  }
  
  .login-form .actions {
    margin: 20px;
    text-align: center;
  }
  
  .login-form .actions .btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .login-form .actions .btn:hover {
    background-color: #45a049;
  }
  
  .login-form .error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: 10px;
  }

  .remember-me {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
  }
  
  .remember-me input[type="checkbox"] {
    margin-right: 5px;
  }

  .login-form .links-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .login-form .links-container a {
    color: #666;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
  }
  
  .login-form .links-container a:hover {
    text-decoration: underline;
  }

/* ../registrations/new.html.erb*/ 
.signup-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .signup-form {
    max-width: 100%;
    padding: 40px;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .signup-form h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .signup-form .field {
    margin-bottom: 20px;
  }
  
  .signup-form .field label {
    display: block;
    color: #666;
    font-size: 14px;
  }

  .signup-form .field em {
    color: #666;
    font-size: 14px;
  }

  .signup-form .field input {
    height: 20px;
    width: 96.5%;
  }
  
  .signup-form .actions {
    margin: 20px;
    text-align: center;
  }
  
  .signup-form .button-container {
    display: flex;
    justify-content: center;
  }
  
  .signup-form .actions .btn {
    padding: 12px 24px;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .signup-form .actions .btn:hover {
    background-color: #45a049;
  }
  
  .signup-form .error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .signup-form .links-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .signup-form .links-container a {
    color: #666;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
  }
  
  .signup-form .links-container a:hover {
    text-decoration: underline;
  }

/* ../registrations/edit.html.erb*/ 
  .edit-form-container {
    display: flex;
  }
  
  .edit-form {
    max-width: 100%;
    padding: 20px 40px;
  }
  
  .edit-form h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .edit-form .field {
    margin-bottom: 20px;
  }
  
  .edit-form .field label {
    display: block;
    color: #666;
    font-size: 14px;
  }

  .edit-form .field em {
    color: #666;
    font-size: 14px;
  }

  .edit-form .field i {
    color: #666;
    font-size: 14px;
  }
  
  .edit-form .field input {
    height: 20px;
    width: 96.5%;
  }
  
  .edit-form .actions {
    margin: 20px;
    text-align: center;
  }
  
  .edit-form .actions .btn {
    padding: 12px 24px;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .edit-form .actions .btn:hover {
    background-color: #45a049;
  }

  .edit-form .button_to {
    margin: 20px 0;
  }
  
  .edit-form .button_to .btn {
    padding: 12px 24px;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .edit-form .button_to .btn:hover {
    background-color: #45a049;
  }
  
  .edit-form .links-container {
    margin-top: 20px 0;
  }
  
  .edit-form .links-container a {
    display: flex;
    color: #666;
    text-decoration: none;
    margin-bottom: 20px;
    margin: 10px 0;
    font-size: 14px;
    flex-wrap: wrap;
  }
  
  .edit-form .links-container a:hover {
    text-decoration: underline;
  }
  
/* ../passwords/new.html.erb */
.new-password-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .new-password-form {
    max-width: 100%;
    padding: 40px;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .new-password-form h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .new-password-form .field {
    margin-bottom: 20px;
  }
  
  .new-password-form .field label {
    display: block;
    color: #666;
    font-size: 14px;
  }
  
  .new-password-form .field input {
    height: 20px;
    width: 96.5%;
  }
  
  .new-password-form .actions {
    margin: 20px;
    text-align: center;
  }
  
  .new-password-form .actions .btn {
    padding: 12px 24px;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .new-password-form .actions .btn:hover {
    background-color: #45a049;
  }
  
  .new-password-form .links-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .new-password-form .links-container a {
    color: #666;
    text-decoration: none;
    margin-bottom: 20px;
    margin: 0 10px;
    font-size: 14px;
  }
  
  .new-password-form .links-container a:hover {
    text-decoration: underline;
  }